/*---------------------------------------------------------------------------*\
    Fonts
\*---------------------------------------------------------------------------*/
@font-face {
  font-family: 'Trebuchet MS';
  src: // local('Trebuchet MS'), local('Trebuchet MS Regular'),
    url('/fonts/TrebuchetMS.woff2') format('woff2'),
    url('/fonts/TrebuchetMS.woff') format('woff'),
    url('/fonts/TrebuchetMS.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  font-feature-settings: 'dlig' on;
}

@font-face {
  font-family: 'Trebuchet MS';
  src: // local('Trebuchet MS Italic'),
    url('/fonts/TrebuchetMS-Italic.woff2') format('woff2'),
    url('/fonts/TrebuchetMS-Italic.woff') format('woff'),
    url('/fonts/TrebuchetMS-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
  font-feature-settings: 'dlig' on;
}

@font-face {
  font-family: 'Trebuchet MS';
  src: // local('Trebuchet MS Bold'),
    url('/fonts/TrebuchetMS-Bold.woff2') format('woff2'),
    url('/fonts/TrebuchetMS-Bold.woff') format('woff'),
    url('/fonts/TrebuchetMS-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
  font-feature-settings: 'dlig' on;
}

@font-face {
  font-family: 'Trebuchet MS';
  src: // local('Trebuchet MS Bold Italic'),
    url('/fonts/TrebuchetMS-BoldItalic.woff2') format('woff2'),
    url('/fonts/TrebuchetMS-BoldItalic.woff') format('woff'),
    url('/fonts/TrebuchetMS-BoldItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
  font-feature-settings: 'dlig' on;
}
