/*---------------------------------------------------------------------------*\
  Forms
  (Many of these style rules are inspired by Bootstrap form styles)
\*---------------------------------------------------------------------------*/
// Taken from Normalise.css
input, optgroup, select {
  font-family: inherit;
  margin: 0;
}

input {
  overflow: visible;
}

select {
  text-transform: none;
}

/*---------------------------------------------------------------------------*\
  Form Control Focus Mixin
\*---------------------------------------------------------------------------*/
@mixin focus-outline($color) {
  border-color: $color;
  outline: 0;
  box-shadow: 0 0 7px rgba($color, .5);
};

/*---------------------------------------------------------------------------*\
  Form Validation Colors
\*---------------------------------------------------------------------------*/
// Tab Focus
@mixin tab-focus() {
  outline: thin dotted;// Default
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

/*---------------------------------------------------------------------------*\
  Normalize non-controls
\*---------------------------------------------------------------------------*/
label {
  display: inline-block;
  max-width: 100%;
  font-size: $p-font-rem;
  line-height: $p-line-rem;
  text-align: left;
}

/*---------------------------------------------------------------------------*\
  Normalize form controls
\*---------------------------------------------------------------------------*/
%Radio-checkbox {
  appearance: none;
  position: relative;
  width: 22px;
  height: 22px;
  border: 2px solid $grey-1000;
  background: $white;
  line-height: normal;
  vertical-align: top;
  &:hover {
    border-color: $grey-700;
  }
  &:focus {
    @include tab-focus;
    @include focus-outline($focus);
  }
  .dark-mode & {
    border-color: $grey-700;
    background-color: $grey-350;
    &:hover {
      border-color: $grey-1000;
    }
    &:focus {
      @include focus-outline($focus-dark);
    }
  }
}

input[type="checkbox"] {
  @extend %Radio-checkbox;
  border-radius: 4px;
  &:checked {
    background: $focus url-encode("<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 600 600' fill='#fff'><polygon points='106.64 321.09 150 257.81 235.55 353.91 278.91 343.36 450 128.91 502.73 128.91 514.45 192.19 278.91 471.09 235.55 471.09 106.64 321.09'/></svg>") 50% 50% / 100% 100%;
  }
  &:checked:hover {
    background-color: $focus-hover;
  }
  &:checked:active {
    background-color: $focus-active;
  }
}

input[type="radio"] {
  @extend %Radio-checkbox;
}

/*---------------------------------------------------------------------------*\
  Form wrapper element
\*---------------------------------------------------------------------------*/
.form {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-content: flex-start;
  margin: $baseline-rem 0 0 0;
  padding: 0 ($baseline-px * .5) $baseline-rem ($baseline-px * .5);
  border-radius: 6px;
  background: $white;
  box-shadow: $card-shadow;
  .dark-mode & {
    background: $grey-350;
    box-shadow: $card-shadow--dark;
  }
  @include media-query('gt-600') {
    padding: 0 $baseline-px $baseline-rem $baseline-px;
  }
}

/*---------------------------------------------------------------------------*\
  Form Groups
\*---------------------------------------------------------------------------*/
.form__group {
  position: relative;
  display: inline-flex;
  flex-flow: column nowrap;
  .form &, & ~ .form__group {
    margin: $baseline-rem 0 0 0;
  }
}

.form__label {
  display: block;// Stops the '+1px to height' bug
  text-align: left;
}

/*---------------------------------------------------------------------------*\
  Form Controls
\*---------------------------------------------------------------------------*/
$from-control-x-padding: 6px;
$form-control-y-padding: 0.25rem;// 4px
$form-control-height: $p-line-rem + ($form-control-y-padding * 2);// 32px

/*
 * Shared size and type resets for form controls.
 * Apply `.form__control` to any of the following input elements:
 *
 * select
 * textarea
 * not(input[type="checkbox"], input[type="radio"])
*/
.form__control {
  display: block;
  width: 100%;
  height: $form-control-height;
  padding: $form-control-y-padding $from-control-x-padding;
  font-size: $p-font-rem;
  line-height: $p-line-rem;
  color: $grey-200;
  text-align: left;
  background-color: $white;
  border-radius: 4px;
  border: 1px solid $grey-1000;
  &:hover {
    border-color: $grey-700;
  }
  &:focus {
    @include focus-outline($focus);
  }
  // &:placeholder {
  //   color: $grey-900;
  // }
  .dark-mode & {
    color: $grey-1200;
    border-color: $grey-700;
    background-color: $grey-350;
    &:hover {
      border-color: $grey-1000;
    }
    &:focus {
      @include focus-outline($focus-dark);
    }
    // &:placeholder {
    //   color: $grey-500;
    // }
  }
}

/*---------------------------------------------------------------------------*\
  Checkboxes and Radios
\*---------------------------------------------------------------------------*/
// To be used instead of '.form__group' for radio and checkbox inputs
.form__radio, .form__checkbox {
  position: relative;
  display: inline-flex;
  flex-flow: row nowrap;
  align-items: center;
  margin: $baseline-rem 0 0 0;
  padding: 0;
  text-align: left;
  label {
    display: block;
    cursor: pointer;
  }
  input {
    margin: 0 0 0 4px;
  }
}

/*---------------------------------------------------------------------------*\
  Inline Forms
\*---------------------------------------------------------------------------*/

/*
 * Make form controls display inline with labels by adding `.form--inline`
 *
 * Inline forms begin stacked on small (mobile) screens, then go inline when
 * viewport width exceeds breakpoint.
 *
 * Requires wrapping inputs and labels with `.form__group`
*/
.form--inline {
  .flexbox--form .flexbox__item {
    width: 100%;
  }
  @include media-query('gt-800') {
    flex-flow: row wrap;
    .flexbox--form .flexbox__item {
      width: auto;
    }
    .form__group {
      flex-flow: row nowrap;
    }
    .form__label {
      padding: $form-control-y-padding 4px $form-control-y-padding 0;
      white-space: nowrap;
    }
  }
}
