/*---------------------------------------------------------------------------*\
    Main
\*---------------------------------------------------------------------------*/
@import 'base/html';
@import 'base/images';
@import 'base/fonts';
@import 'base/typography';
@import 'base/tables';
@import 'components/flexbox';
@import 'components/buttons';
@import 'components/header';
@import 'components/top-bar';
@import 'components/navigation';
@import 'components/tooltips';
@import 'components/hr';

.sr-only {
  position: absolute !important;
  margin: -1px !important;
  padding: 0 !important;
  width: 1px !important;
  height: 1px !important;
  font-size: 0 !important;
  line-height: 0 !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  border: 0 !important;
}

a, button {
  cursor: pointer;
}

.gutter-top-margin {
  margin-top: $gutter-rem;
}

.page {
  position: relative;
  margin-top: $nav-height;
}

.page-width {
  position: relative;
  margin: 0 auto;
  max-width: $page-width;
}

.page-padding {
  padding-left: $gutter-px * .5;
  padding-right: $gutter-px * .5;

  @include media-query('gt-600') {
    padding-left: $gutter-px;
    padding-right: $gutter-px;
  }
}

.footer-width {
  margin: 0 auto;
  max-width: $footer-width;
}