/*---------------------------------------------------------------------------*\
    Buttons Global
\*---------------------------------------------------------------------------*/
button {// Taken from Normalize.css
  margin: 0;
  font-family: inherit;
  font-size: 100%;
  font-weight: inherit;
  color: inherit;
  overflow: visible;
  text-transform: none;
  letter-spacing: inherit;
  appearance: button;
  &::-moz-focus-inner {
    border-style: none;
    padding: 0;
  }
  &::-moz-focusring {
    outline: 1px dotted ButtonText;
  }
}

.button {
  position: relative;
  display: inline-block;
  margin: 0 auto;
  border: 0;
  border-radius: ($p-line-px + 12px) * .5;
  padding: 6px 18px;
  width: auto;
  background: $red-400;
  box-shadow: $button-shadow;
  text-decoration: none;
  vertical-align: top;
  font-weight: 700;
  text-align: center;
  white-space: nowrap;
  &, .dark-mode & { color: $white; }
  cursor: pointer;
  font-size: $p-font-rem;
  line-height: $p-line-px;
  outline: 0;
  &:hover {
    background: $red-700;
  }
  &:active {
    padding: 7px 18px 5px;
    background: $red-100;
    &, .dark-mode & { color: $grey-1150; }
  }
  svg {
    display: inline-block;
    margin: 0 4px 0 (-10px);
    width: $p-font-px;
    height: $p-font-px;
    vertical-align: top;
    pointer-events: none;
  }
  .dark-mode & {
    box-shadow: $button-shadow--dark;
  }
}

/*---------------------------------------------------------------------------*\
    Button Sizes
\*---------------------------------------------------------------------------*/
.button--large { padding: 9px 24px;
  &:active {     padding: 10px 24px 8px; }
  border-radius: ($h5-line-px + 18px) * .5;
  font-size: $h5-font-rem;
  line-height: $h5-line-px;
  svg {
    width: $h5-line-px;
    height: $h5-line-px;
  }
}

.button--giant { padding: 11px 32px;
  &:active {     padding: 12px 32px 10px; }
  border-radius: ($h4-line-px + 22px) * .5;
  font-size: $h4-font-rem;
  line-height: $h4-line-px;
  svg {
    width: $h4-line-px;
    height: $h4-line-px;
  }
}
